<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>mosulmetadata</id>
	<name>MSF-OCG Mosul Metadata Module</name>
	<version>0.0.1</version>
	<package>org.openmrs.module.mosulmetadata</package>
	<author>msf</author>
	<description>
		Helps to Load metadata into Mosul
	</description>

	<activator>org.openmrs.module.mosulmetadata.MosulMetadataActivator</activator>
	
</module>
